.appLayout {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.appLayout__canvas {
  flex: auto;
  position: relative;
}

.appLayout__bottom {
  box-shadow: 0 0 8px rgba(0,0,0,.2);
  display: flex;
  flex: none;
  justify-content: space-between;
  padding: 0.5em;
  z-index: 1;
}

.appLayout__bottomLeft, 
.appLayout__bottomRight {
  align-items: stretch;
  display: flex;
}

.cursor {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}