.appLayout {
  background-color: white;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.appLayout__canvas {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.appLayout__stampPanel {
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 2;
}

.appLayout__bottomLeft {
  bottom: 0;
  left: 0;
  padding: 0 0 1.5rem 1.5rem;
  position: absolute;
}

.appLayout__bottomLeftOpen {
  pointer-events: auto;
}

.appLayout__bottomRight {
  bottom: 0;
  right: 0;
  padding: 0 1.5rem 1.5rem 0;
  position: absolute;
}

.cursor {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}